{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="{% static '/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static '/css/perfil.css' %}">
</head>
<body>
    <header>
        <h1>Meu Perfil</h1>
    </header>
    <div class="container">
        <div class="profile-picture">
            <img src="{% static '/imagem/logo_promo.png' %}" alt="Minha Foto de Perfil" width=200px >
        </div>

        <h2>Informações Pessoais</h2>
        <p><strong>Nome:</strong> Fabrício Genie</p>
        <p><strong>Email:</strong> fabríciolândia@email.com</p>
        <p><strong>Telefone:</strong> (62) 98456-7890</p>

        <!-- Biografia e Interesses (comentados) -->
    </div>
</body>
</html>
