/* Estilo para o corpo da página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #FFD700, #FF6347);
}

/* Estilo para o cabeçalho */
header {
    
    color: #141312;
    text-align: center;
    padding: 20px;
}

/* Estilo para o contêiner principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:  #c67c27e7;
    box-shadow: 0 0 10px rgba(247, 71, 1, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilo para títulos */
h1 {
    color: #e60e0e;
}

/* Estilo para parágrafos */
p {
    line-height: 1.6;
}

.profile-picture {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 20px auto; /* Alterar a margem para ajustar a posição vertical */
    display: block;
}
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007BFF; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Cursor ao passar o mouse */
}