/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #e25c0f;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #a13503;
    color: #e2520f;
    text-align: center;
    padding: 20px;
}

/* Estilo para o contêiner principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: 
    #e61414;
    box-shadow: 0 0 10px rgba(247, 71, 1, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilo para títulos */
h1 {
    color: #e60e0e;
}

/* Estilo para parágrafos */
p {
    line-height: 1.6;
}

/* Estilo para a imagem de perfil */
.profile-picture {
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
